#id_RouletteTable *{
    /*border-collapse: collapse;*/
	padding: 0px, 0px, 0px, 0px;
    margin: 0px, 0px, 0px, 0px;
}

#id_RouletteTable tr, td {
	border:	1px solid black;
}

.cell_1 {
	background-color: black;
	color: white;
	width: 40px;
	height: 40px;
	text-align: center;
}
.cell_2V {
	width: 8px;
	border-color: lightgray;
}
.cell_2H {
	height: 8px;
	border-color: lightgray;
}
.cell_4 {
	border-color: lightgray;
}