:root {
	/* dimensions of numbers */
	--Table_NumberW: 40px;
	--Table_NumberH: 40px;
	/* dimensions of inside numbers */
	--Table_InnerW: 10px;
	--Table_InnerH: 10px;
	/* Border width */
	--Table_BorderW: 3px;

	/* roulette wheel */
	--Wheel_Left: 550px;
	--Wheel_Top: 480px;
	--Wheel_W: 350px;
	--Wheel_H: 350px;
	--Wheel_Centre_X: 0; /*calc(var(--Wheel_Left) + var(--Wheel_W)/2);*/
	--Wheel_Centre_Y: 0; /*calc(var(--Wheel_Top) + var(--Wheel_H)/2);*/
	/* roulette wheel ball */
	--Ball_W: 12px;
	--Ball_H: 12px;
	--Ball_PosRadius: 0; /*calc((var(--Wheel_H) / 4) + 1px);*/
	--Ball_X: 0; /*calc(var(--Wheel_Centre_X) - var(--Ball_W)/2);*/
	--Ball_Y: 0; /*calc(var(--Wheel_Centre_Y) - var(--Ball_H)/2 - var(--Ball_PosRadius));*/
	--Ball_RotateOrig_X: 0; /* calculated */
	--Ball_RotateOrig_Y: 0; /* calculated */
	--Ball_EndAngle: 180deg;

	--StartAngle: 0deg;
	--EndAngle: 0deg;
	
}

@keyframes rotateWheelAnim {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(1080deg);
	}
}


.rotateWheel {
	animation: rotateWheelAnim 3s 1 ease-in-out; 
}

/*
@keyframes rotateWheelAnim {
	from {
		transform: rotate( var(--StartAngle));
	}
	to {
		transform: rotate( var(--EndAngle));
	}
}
.rotateWheel {
	animation: rotateWheelAnim 3s ease-in-out forwards; 
}*/

.rouletteWheel {
	width: var(--Wheel_W);
	height: var(--Wheel_H);
	position: absolute; 
	top: var(--Wheel_Top); 
	left: var(--Wheel_Left);
}

@keyframes rotateBallAnim {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(calc(-1440deg - var(--Ball_EndAngle)));
	}
}

.rotateBall {
	position: absolute;
	transform-origin: var(--Ball_RotateOrig_X) var(--Ball_RotateOrig_Y);
	animation: rotateBallAnim 4s 1 ease-in-out; 

}

#id_Ball {
	width: var(--Ball_W);
	height: var(--Ball_H);
	/*visibility: hidden; */
	position: absolute; 
	left: var(--Ball_X);
	top: var(--Ball_Y);
}

body {
	font-family: 'Sofia';
	font-size: 13px;
}

h1 {
	font-size: 22px;
}
h2 {
	font-size: 19px;
}
h3 {
	font-size: 15px;
}

.button {
	font-family: 'Roboto', sans-serif;
	background-color: rgb(71, 101, 141);
	color: white;
	border-radius: 3px;
}
.button:hover {
	background-color: rgba(71, 101, 141, 0.801);
}

.frame {
	border: 3px solid black;
	text-align: center;
}

#id_RouletteTableContainer {
	font-family: 'Roboto', sans-serif;
}

#id_RouletteTable {
	background-color: olivedrab;
	border:	var(--Table_BorderW) solid white;
	text-align: center;
	padding: 10px;
	margin: 10px;
	
}

#id_RouletteTable tr, td {
	/*border:	1px solid black;*/
	font-size: 15px;
}
.cell_0 {
	width: var(--Table_NumberW);
	min-width: var(--Table_NumberW);
}

.cell_1 {
	width: var(--Table_NumberW);
	min-width: var(--Table_NumberW);
	height: var(--Table_NumberH);
}
.cell_2V {
	width: var(--Table_InnerW);
	min-width: var(--Table_InnerW);
	background-image: linear-gradient(white, white);
	background-size: var(--Table_BorderW) 100%;
	background-repeat: no-repeat;
	background-position: center center;
}
.cell_2H {
	height: var(--Table_InnerH);
	background-image: linear-gradient(white, white);
	background-size: 100% var(--Table_BorderW);
	background-repeat: no-repeat;
	background-position: center center;
}
.cell_4 {
}

.cell_edge {
	height: var(--Table_NumberH);
	text-align: center;
}
/*
.cell_HLine {
	background-color: white;
	content: "";
	display: block;
	width:100%;
	height:1px;
	position:relative;
	top: calc(var(--Table_NumberH) / 2);
}*/
/*
.cell_HLine {
	content: "";
	position: relative;
	top: 0;
	bottom: 0;
	left: 0;
	border-left: 3px solid white;
	transform: translate(-50%);
}*/

.cell_HLine {
	background-image: linear-gradient(white, white);
	background-size: var(--Table_BorderW) 100%;
	background-repeat: no-repeat;
	background-position: center center;
}